@use "./variables.scss" as *;

// CSS Reset & Base Rules
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--app-bg);
  color: var(--text-base);
  font-family: var(--font-family), sans-serif;

  // Makes text rendering incredibly sharp on high-res monitors
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Custom text selection to match your brand
.selection-bg ::selection {
  background-color: var(--primary-color);
  color: #000;
}

// Global Custom Scrollbar (Optional, but highly recommended for a premium feel)
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--app-bg);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-full);

  &:hover {
    background: rgba(var(--primary-color-rgb), 0.5);
  }
}
