.heroSection {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  backdrop-filter: blur(10px);
  opacity: 1;
  z-index: -1;
}
.heroName {
  font-size: 7rem;
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2; /* Adjust line height for better readability */
  display: inline-block;

  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 3rem;
  }
}

.heroTitle {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.heroDescription {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .heroDescription {
    font-size: 1rem;
  }
}

.heroContent {
  width: 100%;
  max-width: 70vw;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: var(--text-secondary);
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.heroButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.socialIcon {
  border: 1px solid var(--text-primary);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.arrowDown {
  position: absolute;
  bottom: 20;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
